<div caDirection [rtlCssClass]="'red'" [ltrCssClass]="'blue'">

    <div class="row">
        <div class="col-sm-4">
            <code>jsDate | gdate</code>
        </div>
        <div class="col-sm-8">
            <span>{{ jsDate | gdate }}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <code>jsDate | gtime</code>
        </div>
        <div class="col-sm-8">
            <span>{{ jsDate | gtime }}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <code>jsDate | gdatetime</code>
        </div>
        <div class="col-sm-8">
            <span>{{ jsDate | gdatetime }}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <code>jsDate | gdate:'de'</code>
        </div>
        <div class="col-sm-8">
            <span>{{ jsDate | gdate:'de' }}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <code>jsDate | gdatetime:'ar-EG':'full'</code>
        </div>
        <div class="col-sm-8">
            <span>{{ jsDate | gdatetime:'ar-EG':'full' }}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <code>jsDate | gdatetime:'full'</code>
        </div>
        <div class="col-sm-8">
            <span>{{ jsDate | gdatetime:'full' }}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <code>jsDate | gdatetime:'raw:yyyy-MM-dd'</code>
        </div>
        <div class="col-sm-8">
            <span>{{ jsDate | gdatetime:'raw:yyyy-MM-dd' }}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <code>jsDate | gdatetime:'yQQQHm'</code>
        </div>
        <div class="col-sm-8">
            <span>{{ jsDate | gdatetime:'yQQQHm' }}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <code>jsDate | gdatetime:'ar-EG':'yQQQHm'</code>
        </div>
        <div class="col-sm-8">
            <span>{{ jsDate | gdatetime:'ar-EG':'yQQQHm' }}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <code>jsDate | gdatetime:{{ '{' }} datetime: 'medium', timeZone: 'America/New_York' {{ '}' }}</code>
        </div>
        <div class="col-sm-8">
            <span>{{ jsDate | gdatetime:{ datetime: 'medium', timeZone: 'America/New_York' } }}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <code>currentTime | gdatetime:'full'</code>
        </div>
        <div class="col-sm-8">
            <span>{{ currentTime | gdatetime:'full' }}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <code>1234567.98765 | gnumber</code>
        </div>
        <div class="col-sm-8">
            <span>{{ 1234567.98765 | gnumber }}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <code>0.5| gnumber:'%'</code>
        </div>
        <div class="col-sm-8">
            <span>{{ 0.5| gnumber:'%' }}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <code>1234567.98765 | gcurrency:'EUR'</code>
        </div>
        <div class="col-sm-8">
            <span>{{ 1234567.98765 | gcurrency:'EUR':'symbol' }}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <code>1234567.98765 | gcurrency:'EGP':'ar-EG':{{ '{' }} style: 'name', maximumFractionDigits:3,
                minimumFractionDigits:3 {{ '}' }}</code>
        </div>
        <div class="col-sm-8">
            <span>{{ 1234567.98765 | gcurrency:'EGP':'ar-EG':{ style: 'name', maximumFractionDigits:3, minimumFractionDigits:3 } }}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <code>0|gmonth:'ar-EG'</code>
        </div>
        <div class="col-sm-8">
            <span>{{ 0|gmonth:'ar-EG' }}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <code>3 | gday:'de'</code>
        </div>
        <div class="col-sm-8">
            <span>{{ 3|gday:'de' }}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <code>0 | gduration</code>
        </div>
        <div class="col-sm-8">
            <span>{{ 3600000|gduration }}</span>
        </div>
    </div>


</div>
<language-switch></language-switch>