<div class="div-inline">
    <div class="div-inline" #inputhost></div>
    <div class="picker-popup dropdown-menu show" *ngIf="isVisible"
         [ngClass]="{'orient-top': orientTop, 'orient-bottom': !orientTop, 'orient-left': !orientRight, 'orient-right': orientRight }">
        <ca-timepicker [minTime]="minTime"
                       [maxTime]="maxTime"
                       [minutesIncrement]="minutesIncrement"
                       [secondsIncrement]="secondsIncrement"
                       [showSeconds]="showSeconds"
                       [locale]="effectiveLocale"
                       
                       [(value)]="value"></ca-timepicker>
    </div>
</div>