<div class="container">
  <div class="row">
      <div class="col-sm-6 col-12">
          <h4>Time Picker Component</h4>
          <cadp-timepicker [(ngModel)]="valt"></cadp-timepicker>
          <div>
              Value: {{ valt | json }}
              <br/>
          </div>
      </div>

      <div class="col-sm-6 col-12">
          <h4>Time Picker Component (Arabic)</h4>
          <cadp-timepicker [(ngModel)]="valt" [locale]="'ar-EG'"></cadp-timepicker>
          <div>
              Value: {{ valt | json }}
              <br/>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-6 col-12">
          <h4>Time Picker Directive</h4>
          <input class='form-control' cadpTimePicker [(ngModel)]="valt" title="time"/>
          <div>
              Value: {{ valt | json }}
              <br/>
          </div>
      </div>
      <div class="col-sm-6 col-12">
          <h4>Time Directive with second</h4>
          <input class='form-control' cadpTimePicker [(ngModel)]="valts" [showSeconds]="true"
                 [format]="'medium'" title="time"/>
          <div>
              Value: {{ valts | json }}
              <br/>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-6 col-12">
          <h4>Date Range Component</h4>
          <cadp-daterangepicker [highlightDays]="65" [(ngModel)]="valdr"></cadp-daterangepicker>
          <div>
              Value: {{ valdr | json }}
              <br/>
          </div>
      </div>

      <div class="col-sm-6 col-12">
          <h4>Date Component</h4>
          <cadp-datepicker [highlightDays]="65" [(ngModel)]="vald"></cadp-datepicker>
          <div>
              Value: {{ vald | json }}
              <br/>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-6 col-12">
          <h4>Date Range Directive</h4>
          <input class='form-control' cadpDateRangePicker [(ngModel)]="valpr"
                 title="date range"/>
          <div>
              Value: {{ valpr | json }}
              <br/>
          </div>
      </div>
      <div class="col-sm-6 col-12">
          <h4>Date Directive</h4>
          <input class='form-control' cadpDatePicker [(ngModel)]="valp" title="date"/>
          <div>
              Value: {{ valp | json }}
              <br/>
          </div>
      </div>

  </div>
  <div class="row">
      <div class="col-sm-6 col-12">
          <h4>Date Time Component</h4>
          <cadp-datetimepicker [highlightDays]="65" [(ngModel)]="vald"></cadp-datetimepicker>
          <div>
              Value: {{ vald | json }}
              <br/>
          </div>
      </div>

      <div class="col-sm-6 col-12">
          <h4>Date Time Component</h4>
          <cadp-datetimepicker [highlightDays]="65" [(ngModel)]="vald"></cadp-datetimepicker>
          <div>
              Value: {{ vald | json }}
              <br/>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-6 col-12">
          <h4>Date time Directive</h4>
          <input class='form-control' cadpDateTimePicker [(ngModel)]="vald" title="datetime"/>
          <div>
              Value: {{ vald | json }}
              <br/>
          </div>
      </div>
      <div class="col-sm-6 col-12">
          <h4>Date time Directive</h4>
          <input class='form-control' cadpDateTimePicker [(ngModel)]="vald" title="datetime"/>
          <div>
              Value: {{ vald | json }}
              <br/>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-12 ">
          <app-language-switch></app-language-switch>
      </div>
  </div>
</div>