<div class="div-inline">
    <div class="div-inline" #inputhost></div>
    <div class="picker-popup dropdown-menu show" *ngIf="isVisible"
         [ngClass]="{'orient-top': orientTop, 'orient-bottom': !orientTop, 'orient-left': !orientRight, 'orient-right': orientRight }">
        <ca-daterangepicker [minDate]="minDate"
                            [maxDate]="maxDate"
                            [homeButton]="homeButton"
                            [resetButton]="resetButton"
                            [locale]="effectiveLocale"
                            [handleKeyboardEvents]="handleKeyboardEvents"
                            [todayHighlight]="todayHighlight"
                            [todayDate]="todayDate"
                            [highlightDays]="highlightDays"
                            [(value)]="value"></ca-daterangepicker>
    </div>
</div>