
<div [attr.dir]="dir" class="date-picker-container">
    <div class="picker">
        <ca-days-view [todayDate]="todayDate"
                   [selectionStart]="selectionStartInternal"
                   [selectionEnd]="selectionEndInternal"
                   (dateClicked)="onDaysViewDayClick($event)"
                   (command)="onCommand($event)"
                   [month]="month"
                   [year]="year"
                   [todayHighlight]="todayHighlight"
                   [highlightDays]="65"
                   [handleKeyboardEvents]="handleKeyboardEvents"
                   [locale]="effectiveLocale"
                   [homeButton]="homeButton"
                   [resetButton]="resetButton"
                   [minDate]="minDateInternal"
                   [maxDate]="maxDateInternal"
                   *ngIf="view === 'days'">
        </ca-days-view>
        <ca-months-view [month]="month"
                     [dir]="dir"
                     [locale]="effectiveLocale"
                     [year]="year"
                     (command)="onCommand($event)"
                     [handleKeyboardEvents]="handleKeyboardEvents"
                     [homeButton]="homeButton"
                     [resetButton]="resetButton"
                     [maxDate]="maxDateInternal"
                     [minDate]="minDateInternal"
                     *ngIf="view === 'months'">

        </ca-months-view>
        <ca-years-view [month]="month"
                    [dir]="dir"
                    [locale]="effectiveLocale"
                    [year]="year"
                    (command)="onCommand($event)"
                    [numberOfYears]="1"
                    [handleKeyboardEvents]="handleKeyboardEvents"
                    [homeButton]="homeButton"
                    [resetButton]="resetButton"
                    [minYear]="minYear"
                    [maxYear]="maxYear"
                    *ngIf="view === 'years'">
        </ca-years-view>
        <ca-years-view [month]="month"
                    [dir]="dir"
                    [locale]="effectiveLocale"
                    [year]="year"
                    (command)="onCommand($event)"
                    [numberOfYears]="10"
                    [handleKeyboardEvents]="handleKeyboardEvents"
                    [homeButton]="homeButton"
                    [resetButton]="resetButton"
                    [minYear]="minYear"
                    [maxYear]="maxYear"
                    *ngIf="view === 'decades'">
        </ca-years-view>
        <ca-years-view [month]="month"
                    [dir]="dir"
                    [locale]="effectiveLocale"
                    [year]="year"
                    (command)="onCommand($event)"
                    [numberOfYears]="100"
                    [handleKeyboardEvents]="handleKeyboardEvents"
                    [homeButton]="homeButton"
                    [resetButton]="resetButton"
                    [minYear]="minYear"
                    [maxYear]="maxYear"
                    *ngIf="view === 'centuries'">
        </ca-years-view>
    </div>
    <div class="disabled-layer" *ngIf="disabled"></div>
</div>