

<div class="year-month-view-container" [ngClass]="{'isrtl': dir === 'rtl'}">
    <next-prev [locale]="locale" 
               [homeButton]="homeButton"
               [resetButton]="resetButton"
               (clicked)="onNextPrevClicked($event)" 
               [text]="nextPrevText"></next-prev>
    <span *ngFor="let m of months" [ngClass]="{'selected': m === month, 
          'focused': m === focusMonth, 
          'disabled': isDisabled(m)
          }" (click)="monthClick(m)">
        {{ m | gmonth:locale }}
    </span>
</div>