<div class="container">
    <div class="col-sm-6">
        <ca-datepicker 
                       [handleKeyboardEvents]="true"
                       [rangeSelection]="range"
                       [highlightDays]="65"></ca-datepicker>
        <div>
            Val: {{ val | json }}
            <br />
            <input type="checkbox" [(ngModel)]="range" />
        </div>
    </div>
    <div class="col-sm-6">
        <div>
            <br />
        </div>
        <input class="form-control"
               [(ngModel)]="val"
               caInputAddon
               caDatePicker
               [highlightDays]="65"
               [homeButton]="false"
               [rangeSelection]="range"
               [format]="'long'"
               />
    </div>
    <div class="row col-sm-12">
        <language-switch></language-switch>
    </div>
</div>