
<div class="row">
    <p *ngFor="let culture of supportedCultures" class="col-4 col-sm-4 col-md-2">
        <button (click)="cultureService.currentCulture = culture"
                [disabled]="cultureService.currentCulture === culture"
                class="btn btn-block"
                [ngClass]="{'btn-default': cultureService.currentCulture !== culture,
                        'btn-info': cultureService.currentCulture === culture }">
            {{culture}}
        </button>
    </p>
</div>