<table>
    <tr *ngIf="!time">
        <td>
            <ca-datepicker [(value)]="dateValue"></ca-datepicker>
        </td>
    </tr>
    <tr *ngIf="time">
        <td class="viewbutton" (click)="time = false"><icon-calendar-alt></icon-calendar-alt></td>
    </tr>
    <tr *ngIf="time">
        <td>
            <ca-timepicker [(value)]="timeValue"></ca-timepicker>
        </td>
    </tr>
    <tr *ngIf="!time">
        <td class="viewbutton" (click)="time = true"><icon-clock></icon-clock></td>
    </tr>
</table>