<table dir="ltr" class="time-picker">
    <tbody>
    <tr>
        <td *ngIf="twelveHours && isRtl" (click)="switchAmPm()">
            <icon-chevron-up></icon-chevron-up>
        </td>
        <td (click)="hours = hours - 1">
            <icon-chevron-up></icon-chevron-up>
        </td>
        <td (click)="decreaseMinutes()">
            <icon-chevron-up></icon-chevron-up>
        </td>
        <td (click)="decreaseSeconds()" *ngIf="showSeconds">
            <icon-chevron-up></icon-chevron-up>
        </td>
        <td *ngIf="twelveHours && !isRtl" (click)="switchAmPm()">
            <icon-chevron-up></icon-chevron-up>
        </td>
    </tr>
    <tr>
        <td *ngIf="twelveHours && isRtl">
            <input [(ngModel)]="amPmText" type="text" #amPmInput1 [attr.maxlength]="amPmMaxLength"/>
        </td>
        <td>
            <input [(ngModel)]="hoursText" type="text" #hoursInput maxlength="2"/>
        </td>
        <td>
            <input [(ngModel)]="minutesText" type="text" #minutesInput maxlength="2"/>
        </td>
        <td *ngIf="showSeconds">
            <input [(ngModel)]="secondsText" type="text" #secondsInput maxlength="2"/>
        </td>
        <td *ngIf="twelveHours && !isRtl">
            <input [(ngModel)]="amPmText" type="text" #amPmInput1 [attr.maxlength]="amPmMaxLength"/>
        </td>
    </tr>
    <tr>
        <td *ngIf="twelveHours && isRtl" (click)="switchAmPm()">
            <icon-chevron-down></icon-chevron-down>
        </td>
        <td (click)="hours = hours + 1">
            <icon-chevron-down></icon-chevron-down>
        </td>
        <td (click)="increaseMinutes()">
            <icon-chevron-down></icon-chevron-down>
        </td>
        <td (click)="increaseSeconds()" *ngIf="showSeconds">
            <icon-chevron-down></icon-chevron-down>
        </td>
        <td *ngIf="twelveHours && !isRtl" (click)="switchAmPm()">
            <icon-chevron-down></icon-chevron-down>
        </td>
    </tr>
    </tbody>
</table>
